<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * *                   * * * * * * * * * * * -->
<!-- * * * * * * * * * *                       * * * * * * * * * * -->
<!-- * * * * * * * * * *                       * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * *                           * * * * * * * * * -->
<!-- * * * * * * *                                   * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="sidenav.mode ==='over'"(click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
 Administrator
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <!-- Home -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        Home
      </mat-list-item>

      <!-- Students -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/student">
        <mat-icon matListItemIcon>person</mat-icon>
        Student
      </mat-list-item>

      <!-- Professors -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/professor">
        <mat-icon matListItemIcon>school</mat-icon>
        Professor
      </mat-list-item>

      <!-- News -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/news">
        <mat-icon matListItemIcon>article</mat-icon>
        News
      </mat-list-item>

      <!-- Comments -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/comment">
        <mat-icon matListItemIcon>comment</mat-icon>
        Comment
      </mat-list-item>

      <!-- Courses -->
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" routerLink="/course">
        <mat-icon matListItemIcon>menu_book</mat-icon>
        Course
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>